.button-container .btn {
    width: 150px;
    height: 50px;
}

.carousel-item img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    filter: brightness(0.5)
}

.header {
    padding: 2rem;
    margin-bottom: 1rem;
}